body{
  background-color: rgb(255, 208, 0) ;
}
.contianer{
  background-color: rgb(255, 208, 0) ;
}
.neighborhood {
  position:fixed;
  bottom:5px;
  left:0;
  right:0;
  padding:0;
  margin:0;
  width: 120%;
  top:60%;

}
.rodger {
  position: fixed;
  right:5%;
  left:35%;
  margin-top:-10%;
  margin-left:-40%;
  transform: scaleX(-1);
  height:700px;
  width:700px;
  
}
.mr{
  margin-top:2%;
  width:500px;
  height:100px;
  padding-left:5%;

}
.bop{
  margin-top:3%;
  margin-left:30%;
  width:700px;
  height:150px;
  
} */
#play{
  margin-left:500%;
  margin-top:40%;
  
}
.about{
  position:fixed;
  margin-left:81%;
  margin-top:-18%; 
  height: 200px;
  width:200px;
  background: rgba(241, 67, 67, 0.5);
  text-align: center;
  font-size: 20px;
  font-family:Marker Felt, fantasy;
}

.rules {
  position:fixed;
  margin-left:80%;
  margin-top:-10%; 
  height: 400px;
  width:200px;
  background: rgba(241, 67, 67, 0.5);
  text-align: center;
  font-size: 20px;
  font-family:Marker Felt, fantasy; 
} 
.bopForm{
  /* margin-left:400%; */
  margin-top:40%;
  background:  rgba(240, 33, 33, 0.8);
  padding:5px;
  width:600px;
  grid-auto-rows: minmax(400px, auto);
  position: relative; 
 }
 .enter{
  font-size:25px;
  font-family:Marker Felt, fantasy ;
}
